<ion-header>
  <ion-toolbar>
    <ion-title>
      Store
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card  class="welcome-card">
        <ion-col style="display: flex;flex-direction: column;align-items: center;">
          <ion-button 
          expand="block"              
          size="large" 
          style = "width: 100%" 
          (click)="lowButton()">
          {{lowPrice}}P | Low click | x {{lowCounter}}
          </ion-button>
          <ion-button 
          expand="block"              
          size="large" 
          style = "width: 100%" 
          (click)="mediumButton()">
          {{medPrice}}P | Medium click | x {{medCounter}}
          </ion-button>
          <ion-button 
          expand="block"               
          size="large" 
          style = "width: 100%" 
          (click)="strongButton()">
          {{strPrice}}P | Strong click | x {{strCounter}} 
          </ion-button>
        </ion-col>
        
      </ion-card>
</ion-content>
