<ion-header>
  <ion-toolbar>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card  class="welcome-card">
    <ion-col style="display: flex;flex-direction: column;align-items: center;">
      <ion-button 
      expand="block"              
      size="large" 
      (click)="this.mainService.save()"
      style = "width: 100%">
      Save Game
      </ion-button>
    </ion-col>
    <ion-col style="display: flex;flex-direction: column;align-items: center;">
        <ion-button 
        expand="block"              
        size="large" 
        (click)="this.mainService.load()"
        style = "width: 100%">
        Load Game
        </ion-button>
    </ion-col> 
    <ion-col style="display: flex;flex-direction: column;align-items: center;">
        <ion-button 
        expand="block"              
        size="large" 
        (click)="this.mainService.devButton()"
        style = "width: 100%">
        Dev button
        </ion-button>
    </ion-col>       
  </ion-card>
</ion-content>
