<ion-header>
  <ion-toolbar>
    <ion-title>
      Awards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card  class="welcome-card">
        <ion-col style="display: flex;flex-direction: column;align-items: center;">
          <ion-button 
          expand="block"              
          disabled 
          size="large" 
          style = "width: 100%" 
          (click)="getCoinsPS()">
          SAVE GAME
          </ion-button>
        </ion-col>
        
      </ion-card>
</ion-content>
